.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
*.lock
.phpintel/
#.env
.phpstorm.meta.php
.DS_Store
public/devtool/
composer.cn.json
composer.lock
dev/data/
prod/mysql
./log
./mysql-rw_separate/data
/dev/data/mysql/
/redis-cluster/data/
/mysql-rw_separate/data/
